<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Auth</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body class="text-center">

    <main class="form-signin w-50 m-auto">
        <div class="col-md-8 m-auto mt-5">
            <form id="form">

                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="username" placeholder="name@example.com">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control mt-3" id="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>

            </form>

        </div>

    </main>

</body>

<script>
    let username=document.getElementById("username")
    let password= document.getElementById("password")
    const form=document.getElementById("form")

    form.addEventListener('submit',(e)=>{
        e.preventDefault()
        let data={
        username:username.value,
        password:password.value
     
    }

        fetch ('http://localhost:8000', {
            method: "POST",
            body: JSON.stringify(data),
            headers: {"Content-type": "application/json",}
        })
        .then(res=> res.json())
        .then(res=>{      
            const {response}=res
            response=="ok"? window.location.assign('http://localhost:8000/products'):alert("autenticacion fallida")
        })
        .catch(err=>console.log(err))
    })

</script>

</html>